@font-face {
    src: url("/css/segoe-mdl2-assets.ttf");
} 
.root {  
    -fx-background-color: rgba(33,33,33,1);
    -fx-min-width: 600px;    
    -fx-min-height: 400px;   
} 
 
.button { 
    -fx-font-strech: expanded;  
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-pref-width: 50;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe MDL2 Assets";
    -fx-font-size: .85em;
    -fx-text-fill: #dbdbdb;
}

#title-text {
    -fx-font-family:"Times New Roman";
    -fx-font-size: 2em;
    -fx-fill: white; 
}

#close:hover  {
    -fx-background-color: rgba(240, 26, 26, 1);
    //-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -10 0 -5 0, 1, 1, 2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; 
    -fx-alignment: CENTER;
    -fx-content-display: RIGHT;
} 

#min:hover  {
    -fx-background-color: rgba(211, 211, 211, .2);
    //-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -10 0 -5 0, 1, 1, 2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; 
    -fx-alignment: CENTER;
    -fx-content-display: RIGHT;
} 

#close:pressed {
    -fx-background-color: #c10000;
    -fx-text-fill: white;
} 

#min:pressed {
    -fx-background-color: rgba(211, 211, 211, .35);
    -fx-text-fill: white;
} 

HBox {
    -fx-background-color: transparent;
    -fx-padding: 495;
}

ToolBar {
    -fx-pref-height: 43; 
    -fx-max-height:  43;
    -fx-min-height:  43;
    -fx-min-width:   43;
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.slider {
  -fx-padding: 0 150 30 150;
  -fx-background-color: transparent;
} 
.slider .track {
  -fx-background-color: transparent;
  -fx-tick-label-fill: white;
  -fx-background-insets: 0;
}

.slider .thumb {
  //-fx-background-image: url("/image/slider-thumb.png"); 
  -fx-padding: 10;
  -fx-background-color: #c40b0b;
} 

ProgressBar {   
    -fx-max-height:  10;
    -fx-min-height:  10;
    -fx-min-width:   285;
    -fx-background-color: transparent;
}

ProgressBar .track {   
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
}

ProgressBar .bar {
    -fx-padding: 0px; 
    -fx-background-insets: 0; 
    -fx-background-color: #FF0000;
}
